<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Kategoriyalar</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 py-8 px-4">
  <div class="max-w-6xl mx-auto">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">📂 Kategoriyalar ro‘yxati</h1>
    <a href="{% url 'product_add' %}">Product Add</a>
    <div class="space-y-6">
      {% for category in categories %}
        <div class="bg-white shadow-md rounded-xl p-6">
          <h2 class="text-xl font-semibold text-blue-700">{{ category.name }}</h2>
          <p class="text-gray-600 mb-4">{{ category.description }}</p>

          <div class="space-y-4">
            {% for pr in category.products.all %}
              <div class="border border-gray-200 rounded-lg p-4 bg-gray-50">
                <div class="flex justify-between items-center">
                  <span class="font-medium text-gray-800">{{ pr.name }}</span>
                  <span class="text-green-600 font-semibold">${{ pr.price }}</span>
                  <a href="{%url'product_detail' pr.pk %}">Detalis</a>
                </div>

                <div class="mt-2 text-sm text-gray-500">
                  Ombordagi soni:
                  {% for inv in pr.inventory.all %}
                    <span class="inline-block bg-green-100 text-green-800 rounded px-2 py-1 mr-2">{{ inv.stock }}</span>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
